<!DOCTYPE html>
<html>
<head>
  <title>HotelsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body class="<%= controller_name %>" id="<%= controller_name %>-<%= action_name %>">

<%= yield %>

</body>
</html>
